* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* background-color: #c7b8b8; */
    font-family: 'Roboto', sans-serif;
    /* position: relative; */

}

.nav__video{
    position: absolute;
    z-index: -100;
}

.nav__video video {
    /* right: auto; */
    bottom: auto;
    width: 100%;
    height: auto;
    /* transform: translateX(calc((100% - 100vw) / 2)); */
}

.nav__bar {
    display: flex;
    /* position: absolute; */
    width: 100%;
    background-color: rgba(246, 241, 241, 0.259);
}

.nav__bar div:nth-child(2){
    margin-right: auto;
}

.nav__bar div:nth-child(3){
    /* margin-left: auto; */
    flex-basis: 50%;
}

.nav__logo img {
    align-self: center;
    margin-left: 1vw;
    border: none;
    padding: 0;
    height: 7vw;
    opacity: 0.85;
}

.nav__title {
    align-self: center;
    margin-left: 1vw;
    overflow: hidden;
    width: 12vw;
    /* background: green; */
    /* height: 6vw; */
    
}

.nav__title a{
    
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6vw;
    text-shadow: 2px 2px 2px #565656;
    
    /* text-align: center; */
}



.nav__links {
    align-self: center;
    /* background-color: yellowgreen; */
    margin-left: 20vw;
    text-align: center;
}

.nav__links a {
    /* background-color: yellow; */
    /* font-family: 'Roboto Mono', monospace; */
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
    letter-spacing: 2px;
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition-duration: .3s;
    transition-property: text-shadow color;
    text-shadow: 1px 1px 2px white;
}

.nav__burger {
    display: none;
}

.nav__cart {
    align-self: center;
    width: 4%;
    /* background-color: yellow; */
}

/* .nav__cart a {
    justify-content: right;
} */

.nav__cart img {
    transition-duration: .3s;
    max-width: 100%;
    height: auto;
}

.nav__cart a img:hover {
    /* transform: scaleX(-1); */
    transform: rotate(-20deg);
}

.nav__links a:hover
{   
    text-shadow: 1px 1px 2px black;
    color: #ffffff;
}

.main__question {
    font-size: 2vw;
    height: 2vw;
    text-align: center;
    margin-top: 49vw;
    color:#212121;
    /* background-color: lightgrey; */
    /* background-color: rgba(211, 211, 211, 0.358); */
}

.main__selector {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* background-color: lightcoral; */
}

.main__cat{
    height: 20vw;
    border-radius: 50%;
}

.main__dog{
    height: 20vw;
    border-radius: 50%;
    opacity: 0.9;
}

@media only screen and (max-width: 1064px) {
    .nav__links {
        display: none;
    }
    .nav__title {
        display: none;
    }

    .nav__burger {
        display: block;
        align-self: center;
        width: 3%;
        margin-right: 3vw;
        margin-left: auto;
    }

    .nav__burger img {
        transition-duration: .4s;
        max-width: 100%;
        height: auto;
    }
    
    .nav__burger a img:active {
        transform: rotate(130deg);
    }
    
    .nav__cart{
        margin-right: 3vw;
    }
} 