html, body {
    background-color: #f2f2f2;
}


ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0px;
    /* background-color: #3AB9C8; */
    /* background-color: #f2f2f2; */
    background: rgb(58,185,200);
    background: linear-gradient(77deg, rgba(58,185,200,1) 0%, rgba(245,165,30,1) 100%);
    overflow: hidden;
    height: 100px;
    transition-property: background-color;
    transition-duration: .3s;    
}

/* li {

} */

li img {
    float: left;
    border: none;
    padding: 0;
    margin: 0;
    height: 100px;
}

li a {
    
    font-family: 'Caveat', cursive;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    float: right;
    /* display: block; */
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
    text-align: center;
    text-decoration: none;
    color: #444444;
    /* margin-top: 20px; */
    height: 100px;
    justify-content: center;
    align-content: center;
    transition-duration: .3s;
    animation: jumpletters 0.65s 0;
}

ul:hover {
    /* background-color: #3AB9C8; */
    background-color:#F5A51E
}

li a:hover
{   
    /* background-color: #f2f2f2; */
    color: white;
    animation-iteration-count: infinite;    
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}
/* a span:nth-child(1){
    animation-delay: 0;
}
a span:nth-child(2){
    animation-delay: 0.1s;
}
a span:nth-child(3){
    animation-delay: 0.3s;
}
a span:nth-child(4){
    animation-delay: 0.5s;
}
a span:nth-child(5){
    animation-delay: 0.7s;
} */
@keyframes jumpletters {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    /* 50% {
        transform: translateY(10px);
        } */
    /* 80% {
        transform: translateY(10px);
    } */
    100% {
        transform: translateY(10px);
        }
}